<section id="Trips" class="mt-5">
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center">Trips keeps all your plans in one place for a stress-free adventure.</h1>
        </div>
    <hr>

    <div class="card" style="width: 18rem;">
        <img src="{{image_url1}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

  






    

</div>
        <div class="row">

            <div class="col-6 text">
                    
                    <h3>Plan your trip</h3>
                    <p>
                    Trips lets you plan, build and manage <br> your perfect itinerary for adventures
                    <br> of any length, in any location.
                    </p> 
                </div>
                   
            <div class="col-6">
                <img class="logo" src="{{image_url}}">
            </div>

        </div>

</section>
<section id="footer">
    <app-footer></app-footer>
 </section>

