


<div class="outer">
    <div class="container"></div>
           <div class="container-fluid">
                       <div class="row align-items-center pad ">
                           <div class="col-6 mx-auto">
                               <div class="card text-center">
                                   <h5 class="card-header center-text">Select Flight</h5>






<div class="card-body ">
    <div class="row m-2">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Flight</h5>
              <p class="card-text">(Flight Name)</p>
              <p class="card-text">(Time From - Time To)</p>
              <p class="card-text">(Duration)</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <a href="#" class="btn btn-info">Economy Class Price</a>
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-info">Business Class Price</a>
            </div>
          </div>
        </div>
        <div class="row m-2">

  <button class="btn btn-outline-success" type="button">Continue</button>
  </div>
</div>  
</div>
</div>
</div>
</div>
</div>
</div>

