
<section class="Home">
    <div class="body">
        <div class="row">
            <div class="col-6">
                <img class="logo" src="{{image_url}}" alt="">
            </div>

            <div class="col-6">
                <h1 class="hand1 travel">TRAVEL</h1>
                <h1 class="display-1 beyond">BEYOND LIMITS  </h1>
                <div class="row">
                    <div class="col-6">
                        <button routerLink="/login" routerLinkActive="active" type="button" class="btn btn-primary btn-lg learn_more">BOOK NOW</button>
                    </div>

                    <div class="col-6">
                        <button routerLink="/signup" routerLinkActive="active" type="button" class="btn btn-outline-primary btn-lg signin">SIGN IN</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section id="footer">
    <app-footer></app-footer>
 </section>
<!-- <app-trips> </app-trips> -->




